button{
  font-size: 1.5rem;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
}
input{
  font-size: 1.5rem;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
  background-color: beige;
}
h1{
  font-size: 4rem;
  margin:0;
}

.App {
  text-align: center;
  color: beige;
  background-color: #282c34;
  padding: 50px;
}
.button-search{
  background-color:beige;
  color:coral;
}
.button-Currrent{
  background-color:coral;
  color: beige;
}
.form{
  display: flex;
  align-items: center;
  justify-content:center;
}
.form-li{
  list-style: none;
  font-size: 15px;
  margin: 10px;
}
.icon-1{
 width: 150px;
 height: auto;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:start;
  font-size: calc(10px + 2vmin);
  border: #61dafb 1px solid;
  padding: 30px;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
